.answer-box {
    display: flex;
    align-items: flex-start;
    .answerIcon {
        position: relative;
        background: url(../icons/robot.svg);
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
    .typeingIcon {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 16px;
    }
    .answerWrap {
        .itemOperation {
            display: none;
        }
        &:hover {
            .itemOperation {
                display: flex;
            }
            .feedback {
                display: flex;
            }
        }
    }
}

.answer {
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    color: black;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 8px;
        height: 12px;
        left: 0;
        background: url(../icons/answer.svg) no-repeat;
    }
    &-child {
        margin-left: 8px;
        padding: 12px 16px;
        background: #f3f4f6;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    &-loading {
        width: 24px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.feedback {
    position: absolute;
    top: -14px;
    right: -14px;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
    &.has-rating {
        display: flex;
    }
}

.operation-btn {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.125rem;
    border-radius: 0.5rem;
    background: white;
    cursor: pointer;
    color: #6a7282;
    &:hover {
        color: #1e2939;
    }
}

.hand-icon {
    width: 1rem;
    height: 1rem;
}

.icon-wrapper {
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #f3f4f6;
    }
}

.tooltip {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.125rem;
    border-radius: 0.5rem;
    background: white;
    cursor: pointer;
    color: #6a7282;
    &:hover {
        color: #1e2939;
    }
    &-child {
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem;
    }
    .is-like {
        color: #2563eb; // text-primary-600
        background-color: #dbeafe; // bg-primary-100
        &:hover {
            background-color: #bfdbfe; // hover:bg-primary-200
        }
    }
    .is-dislike {
        color: #dc2626; // text-red-600
        background-color: #fee2e2; // bg-red-100
        &:hover {
            background-color: #fecaca; // hover:bg-red-200
        }
    }
}
