.tooltip {
    background-color: white !important;
    font-size: 0.75rem !important; // text-xs
    font-weight: normal !important; // font-normal
    color: #374151 !important; // text-gray-700
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important; // shadow-lg
    opacity: 1 !important; // opacity-100
}
